to do: 
    objectif m√©tier 
    1) une classe( m√®re) abstraite record (load) ‚Üí (class enfant) to_csv qui r√©cup le df ‚Üí pour l'enregistrer en CSV
    2) une classe ( m√®re) abstraite obj_client ‚Üí(classe enfant)  ville, station , record

In [5]:
from extractors.meteo_toulouse_extractor import MeteoToulouseExtractor
from extractors.meteo_toulouse_extractor import MeteoToulouseExtractor
from validators.dataframe_validator import DataFrameValidator
import pandas as pd 
from extractors.stations_config import STATIONS

In [17]:
def load_data_api(station: str) -> pd.DataFrame:
    """Extrait et valide les donn√©es d'une station donn√©e."""
    extractor = MeteoToulouseExtractor(station)
    data_json = extractor.extract()
    df = extractor.to_dataframe(data_json)

    # Validation simple
    try:
        DataFrameValidator.validate(df)
        print(f"‚úÖ Donn√©es valides pour {station} ({len(df)} lignes)")
    except Exception as e:
        print(f"‚ö†Ô∏è  Erreur dans la validation de {station} :", e)

    return df


def merge_all_stations() -> pd.DataFrame:
    """Concat√®ne les DataFrames de toutes les stations disponibles."""
    list_df = []

    for station in STATIONS.keys():
        try:
            print(f"üîç Extraction en cours pour : {station}")
            df_station = load_data_api(station)

            # Ajout d'une colonne pour identifier la station dans la fusion
            df_station["station_name"] = station

            list_df.append(df_station)

        except Exception as e:
            print(f"‚ùå Erreur pour {station} ‚Üí pas grave, on continue ({e})")

    # Fusionner toutes les stations sans erreur
    if list_df:
        df_final = pd.concat(list_df, ignore_index=True)
        print(f"\nüéØ Fusion termin√©e : {len(df_final)} lignes au total.")
        return df_final
    else:
        print("üö´ Aucune donn√©e n‚Äôa pu √™tre extraite.")
        return pd.DataFrame()

In [18]:
df = merge_all_stations()

üîç Extraction en cours pour : montaudran
‚úÖ Donn√©es valides pour montaudran (96 lignes)
üîç Extraction en cours pour : colomiers_zi_enjacca
‚úÖ Donn√©es valides pour colomiers_zi_enjacca (95 lignes)
üîç Extraction en cours pour : parc_maourine
‚úÖ Donn√©es valides pour parc_maourine (88 lignes)
üîç Extraction en cours pour : marengo
‚ùå Erreur pour marengo ‚Üí pas grave, on continue (Erreur API 404: {
  "error_code": "NotFoundResource",
  "message": "The requested dataset 2-station-meteo-toulouse-marengo does not exist."
})
üîç Extraction en cours pour : pech_david
‚úÖ Donn√©es valides pour pech_david (78 lignes)
üîç Extraction en cours pour : compans_cafarelli
‚úÖ Donn√©es valides pour compans_cafarelli (96 lignes)
üîç Extraction en cours pour : fondeyre
‚úÖ Donn√©es valides pour fondeyre (14 lignes)
üîç Extraction en cours pour : paul_sabatier
‚úÖ Donn√©es valides pour paul_sabatier (92 lignes)
üîç Extraction en cours pour : mondouzil
‚ö†Ô∏è  Erreur dans la validation de mondouzil : Le DataFrame est vide
üîç Extraction en cours pour : basso_cambo
‚ùå Erreur pour basso_cambo ‚Üí pas grave, on continue (Erreur API 404: {
  "error_code": "NotFoundResource",
  "message": "The requested dataset 8-station-meteo-toulouse-basso-cambo does not exist."
})
üîç Extraction en cours pour : soupetard
‚úÖ Donn√©es valides pour soupetard (14 lignes)
üîç Extraction en cours pour : mons_epuration
‚úÖ Donn√©es valides pour mons_epuration (2 lignes)
üîç Extraction en cours pour : saint_jory_beldou
‚úÖ Donn√©es valides pour saint_jory_beldou (10 lignes)
üîç Extraction en cours pour : jardin_des_plantes
‚ùå Erreur pour jardin_des_plantes ‚Üí pas grave, on continue (Erreur API 400: {
  "error_code": "ODSQLError",
  "message": "ODSQL query is malformed: Unknown field: heure_de_paris. Clause(s) containing the error(s): select."
})
üîç Extraction en cours pour : la_machine_af
‚ö†Ô∏è  Erreur dans la validation de la_machine_af : Le DataFrame est vide
üîç Extraction en cours pour : life_marechal_juin
‚ùå Erreur pour life_marechal_juin ‚Üí pas grave, on continue (Erreur API 400: {
  "error_code": "ODSQLError",
  "message": "ODSQL query is malformed: Unknown field: heure_de_paris. Clause(s) containing the error(s): select."
})
üîç Extraction en cours pour : metropole
‚ùå Erreur pour metropole ‚Üí pas grave, on continue (Erreur API 404: {
  "error_code": "NotFoundResource",
  "message": "The requested dataset 1-station-meteo-toulouse-metropole does not exist."
})
üîç Extraction en cours pour : mondonville_ecole
‚ö†Ô∏è  Erreur dans la validation de mondonville_ecole : Le DataFrame est vide
üîç Extraction en cours pour : teso
‚ö†Ô∏è  Erreur dans la validation de teso : Le DataFrame est vide
üîç Extraction en cours pour : zi_thibaud
‚ö†Ô∏è  Erreur dans la validation de zi_thibaud : Le DataFrame est vide
üîç Extraction en cours pour : busca
‚ùå Erreur pour busca ‚Üí pas grave, on continue (Erreur API 404: {
  "error_code": "NotFoundResource",
  "message": "The requested dataset 3-station-meteo-toulouse-busca does not exist."
})
üîç Extraction en cours pour : pibrac_bouconne
‚ö†Ô∏è  Erreur dans la validation de pibrac_bouconne : Le DataFrame est vide
üîç Extraction en cours pour : life_hall1
‚ùå Erreur pour life_hall1 ‚Üí pas grave, on continue (Erreur API 404: {
  "error_code": "NotFoundResource",
  "message": "The requested dataset 5-station-meteo-toulouse-life-hall-1 does not exist."
})
üîç Extraction en cours pour : nakache
‚ùå Erreur pour nakache ‚Üí pas grave, on continue (Erreur API 404: {
  "error_code": "NotFoundResource",
  "message": "The requested dataset 5-station-meteo-toulouse-nakache does not exist."
})
üîç Extraction en cours pour : casselardit
‚ö†Ô∏è  Erreur dans la validation de casselardit : Le DataFrame est vide
üîç Extraction en cours pour : st_exupery
‚ö†Ô∏è  Erreur dans la validation de st_exupery : Le DataFrame est vide

üéØ Fusion termin√©e : 585 lignes au total.

In [19]:
df

,id,heure_de_paris,humidite,pression,temperature_en_degre_c,station_name
0,12.0,2025-11-06T11:00:00+00:00,92.0,98900.0,12.7,montaudran
1,12.0,2025-11-06T10:00:00+00:00,92.0,99000.0,12.9,montaudran
2,12.0,2025-11-06T09:00:00+00:00,91.0,98900.0,13.2,montaudran
3,12.0,2025-11-06T08:00:00+00:00,89.0,99100.0,13.4,montaudran
4,12.0,2025-11-06T07:00:00+00:00,87.0,99000.0,15.8,montaudran
...,...,...,...,...,...,...
580,33.0,2025-11-02T17:00:00+00:00,88.0,100900.0,14.2,saint_jory_beldou
581,33.0,2025-11-02T16:00:00+00:00,86.0,100800.0,14.6,saint_jory_beldou
582,33.0,2025-11-02T15:00:00+00:00,85.0,100800.0,14.9,saint_jory_beldou
583,33.0,2025-11-02T13:00:00+00:00,80.0,100800.0,16.0,saint_jory_beldou
584,33.0,2025-11-02T12:00:00+00:00,83.0,100800.0,15.3,saint_jory_beldou

In [ ]:

station = recup()